<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/myPage_review.css}">
</th:block>

<script th:inline="javascript">

    $(document).ready(function() {
        console.log("Document is ready");

        let errorMessage = /*[[${errorMessage}]]*/ "";
        if (errorMessage) {
            alert(errorMessage);
        }

        let deleteMessage = /*[[${deleteMessage}]]*/ "";
        if (deleteMessage) {
            alert(deleteMessage);
        }

        let updateMessage = /*[[${updateMessage}]]*/ "";
        if (updateMessage) {
            alert(updateMessage);
        }

        $("#checkAll").click(function() {
            let checkedStatus = this.checked;
            console.log("Check All clicked, status: " + checkedStatus);
            $("input[name='contentCheckbox']").each(function() {
                $(this).prop("checked", checkedStatus);
            });
        });

        async function deleteContent() {
            if(confirm("게시글을 삭제할까요?")){
                let userSeq = $("input[name='title']").val();
                let url = "/myPage/require/delete";
                let dataList = [];
                let paramData = {};

                $("input[name='contentCheckbox']:checked").each(function() {
                    let requireSeq = $(this).val();
                    let data = ({
                     "requireSeq": requireSeq,
                      "userSeq": userSeq
                    });
                    dataList.push(data);
                });

                if (dataList.length === 0) {
                    alert("삭제할 항목을 선택해주세요");
                    return;
                }

                paramData['userRequireDtoList'] = dataList;
                let param = JSON.stringify(paramData);
                console.log("Payload: ", param);

                try {
                    const response = await fetch(url, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: param,
                        cache: 'no-cache'
                    });

                    if (!response.ok) {
                        if (response.status === 401) {
                            alert("로그인 후 이용해주세요");
                            location.href = "/";
                        } else {
                            let errorText = await response.text();
                            alert(errorText);
                        }
                        return;
                    }

                    alert("삭제 완료되었습니다");
                    loadPage(1);
                } catch (error) {
                    alert(error.message);
                }
            }
        };
        $("#deleteButton").click(deleteContent);
    });

    //페이지 이동
    function loadPage(page) {
        $.ajax({
            type: "GET",
            url: "/myPage/require?page=" + page,
            success: function(response) {
                $("#contentCell").html(response);
            },
            error: function(xhr, status, error) {
                console.error("Error loading page:", error);
            }
        });
    };
    function moveRequirePage(requireSeq) {
        $.ajax({
            type: "GET",
            url: "/myPage/requireContent?requireSeq="+requireSeq ,
            success: function(response) {
                $("#contentCell").html(response);
            },
            error: function(xhr, status, error) {
                console.error("Error loading page:", error);
            }
        });
    };
</script>

<div class="requirePage">
    <center>
        <input type="hidden" name="userSeq" th:value="${userSeq}">
        <table border="1">
            <tr>
                <td align="center" width="30"><input type="checkbox" id="checkAll"></td>
                <th width="500">제목</th>
                <th width="200">작성일</th>
                <th width="50">추천수</th>
            </tr>
            <tr th:if="${count == 0}">
                <td colspan="6" width="850" height="500" align="center">
                    <h3> 작성하신 게시글이 없습니다. </h3>
                </td>
            </tr>
            <tr th:each="require : ${requires}" >
                <td align="center"><input type="checkbox" name="contentCheckbox" th:value="${require.requireSeq}"></td>
                <td align="center" height="25"><a th:onclick="'moveRequirePage('+${require.requireSeq}+')'"><span th:text="${require.title}"/></a></td>
                <td align="center"><span th:text="${require.postDate}"/></td>
                <td align="center"><span th:text="${require.requireLike}"/></td>
            </tr>
            <tr th:if="${count != 0}">
                <td colspan="3" align="center" >
                    <div th:with="start=${pageHandler.beginPage},end=${pageHandler.endPage}">
                        <ul class="pageList">
                            <li  th:if="${not pageHandler.firstPage}" class="page-item" th:classappend="${pageHandler.firstPage} ? 'disabled' : '' ">
                                <a th:onclick="'loadPage('+${pageHandler.page - 1}+')'" aria-label='Previous' class="page-link" >
                                    <span aria-hidden='true'>Previous&nbsp;</span>
                                </a>
                            </li>

                            <li th:each="page : ${#numbers.sequence(start,end)}" th:classappend="${pageHandler.page eq page} ? 'active' : '' " class="page-item" >
                                <a th:onclick="'loadPage('+${page}+')'" th:inline="text" class="page-link">[[${page}]]&nbsp;</a>
                            </li>

                            <li th:if="${not pageHandler.lastPage}" th:classappend="${pageHandler.lastPage} ? 'disabled' : '' " class="page-item" >
                                <a th:onclick="'loadPage('+${pageHandler.page + 1}+')'" aria-label='Next' class="page-link">
                                    <span aria-hidden='true'>Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td colspan="1" align="center" class="buttons">
                    <button type="button" id="deleteButton">삭제</button>
                </td>
            </tr>
        </table>
    </center>
</div>

</html>