<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/myPage_review.css}">
</th:block>
<th:block layout:fragment="script">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:inline="javascript">
		$(document).ready(function() {
			let errorMessage = /*[[${errorMessage}]]*/ "";
			if (errorMessage !=null){
				alert(errorMessage);
			}

			let updateMessage = /*[[${updateMessage}]]*/ "";
			if (updateMessage !=null){
				alert(updateMessage);
			}

			let insertMessage = /*[[${insertMessage}]]*/ "";
			if (insertMessage !=null){
				alert(insertMessage);
			}
		});

		function deleteContent() {
			if(confirm("게시글을 삭제할까요?")){
				location.href = "/require/delete?requireSeq=[[${requireDto.requireSeq}]]&userSeq=[[${requireDto.userSeq}]]"
			}
		}
	</script>
</th:block>
<div class="requirePage" layout:fragment="content">
	<center>
		<table border="1">
			<tr>
				<td width="70" align="center">제목</td>
				<td width="700" height="40" align="center">
					<span name="title" style="width: 500px; border:hidden" th:text="${requireDto.title}"/>
				</td>
			</tr>
			<tr>
				<td align="center"> 내용 </td>
				<td align="center" width="700" height="500">
					<span th:text="${requireDto.content}"/>
				</td>
			</tr>
			<tr>
				<td align="center"> 등록일 </td>
				<td align="center">
					<span th:text="${requireDto.postDate}"></span>
				</td>
			</tr>
			<tr>
				<td  width="70" align="center"> 추천수 </td>

				<td align="center" >
					<a th:href="|/require/recommend?requireSeq=${requireSeq}|" ><img th:src="@{/image/recommend.png}"/></a>
					<p th:text="${requireDto.requireLike}"/><br>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<a th:href="|/require/update?requireSeq=${requireDto.requireSeq}&userSeq=${requireDto.userSeq}|">수정</a>
					<a onclick="deleteContent()">삭제</a>
					<a th:href="|/require|" >목록</a>
				</td>
			</tr>
		</table>
	</center>
</div>
</html>