<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="footer" th:fragment="footer">
        <p class="team_name">HongNaParkLee</p>
        <ul>
            <li><a href="https://www.notion.so/b5cccfd5e37449c5b5343818edd0f6eb">팀소개</a></li>
            <li><a href="https://github.com/nagyeongjin/HongNaParkLee">팀정보</a></li>
            <li><a href="/">이용약관</a></li>
            <li><a href="/">개인정보 처리방침</a></li>
            <li><a href="/">고객센터</a></li>
        </ul>
        <p>Copyright 2024 by team HNPL. All right reserved</p>
    </div>
</html>